<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<script src="/static/js/sample.js"></script>
		<title>{{.Title}}</title>
		<style>
			body {
				font-family: sans-serif;
			}
			h1 {
				background: #ddd;
			}
			#sidebar {
				float: right;
			}
		</style>
	</head>
	<body>
		<h1>{{.Title}}</h1>

		<div id="sidebar">
			{{block "sidebar" .}}
			{{/* The dashes in the following template directives
			     ensure the generated HTML of this list contains no
			     extraneous spaces or line breaks. */}}
			<ul>

			</ul>
			{{end}}

			<input type="hidden" name="samin_token" value="{{ .CSRF_Token }}">
		</div>

		{{block "content" .}}
		<div id="content">
			{{.Body}}
		</div>
		{{end}}
	</body>
</html>